.search-box {
  margin: 30px 40px;
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  align-items: end;
  margin-left:20px ;
}

.search-box label {
  font-size: 13px;
  color: #374151;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.search-box button {
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 10px;
  height: 42px;
  font-size: 28px;
  width: 42px;
  margin-left: 40%;
}
