.detail-page {
  padding: 40px;
  background: #f6f7f9;
}

.detail-top {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 500px;
}

/* LEFT BANNER */
.detail-banner {
  flex: 1;
  background: linear-gradient(135deg, #3563e9, #1e3a8a);
  color: white;
  padding: 30px;
  border-radius: 16px;
  position: relative;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.detail-banner img {
  width: 100%;
  margin-top: 0px;
}

/* RIGHT INFO */
.detail-info {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 16px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  margin: 10px 0;
  color: #f59e0b;
}

.description {
  margin: 20px 0;
  color: #6b7280;
}

.spec-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.spec-grid span {
  font-size: 14px;
  color: #9ca3af;
}

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  font-size: 26px;
}

.old-price {
  text-decoration: line-through;
  color: #9ca3af;
  font-size: 14px;
}

.rent-btn {
  background: #3563e9;
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 60px;
  margin-right: 300px;
}



.reviews-section {
  background: white;
  padding: 30px;
  border-radius: 16px;
  
}

.review-count {
  background: #3563e9;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  margin-left: 8px;
}

.review-card {
  margin-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.review-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.review-left img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.review-left h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.review-role {
  font-size: 13px;
  color: #9ca3af;
  margin-top: 4px;
}

.review-right {
  text-align: right;
}

.review-date {
  font-size: 13px;
  color: #9ca3af;
  margin-bottom: 6px;
}

.stars {
  color: #f59e0b;
  font-size: 14px;
}

.review-text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.6;
  color: #6b7280;
}

