.cars-page {
  display: flex;
  padding: 40px;
  gap: 30px;
  background: #f6f7f9;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
}

/* Title */
.sidebar h4 {
  font-size: 12px;
  font-weight: 600;
  color: #94a3b8;
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-top: 25px;
}

/* Checkbox Item */
.checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #1e293b;
  cursor: pointer;
}

/* Checkbox style */
.checkbox-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #3563e9; /* màu xanh giống mẫu */
  cursor: pointer;
}

/* PRICE SLIDER */
.sidebar input[type="range"] {
  width: 100%;
  margin-top: 10px;
  accent-color: #3563e9;
}

.sidebar p {
  font-size: 13px;
  color: #64748b;
  margin-top: 8px;
}

/* GRID */
.cars-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.car-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
}

.car-card:hover {
  transform: translateY(-6px);
}

.car-card h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.car-card p {
  font-size: 13px;
  color: #64748b;
}

.car-card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  margin: 15px 0;
}

.car-card button {
  background: #3563e9;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.car-card button:hover {
  background: #254edb;
}
