* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://images.unsplash.com/photo-1502877338535-766e1452684a")
      center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
}

.overlay {
  text-align: center;
}

.overlay h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 18px;
  opacity: 0.9;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  background: #457ef0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: white;
  width: 580px;
  height: 400px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(53, 99, 233, 0.1);
  text-align: center;
}

.login-box h2 {
  font-size: 28px;
  color: #3563e9;
}

.sub {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.login-box input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  outline: none;
  transition: 0.3s;
}

.login-box input:focus {
  border-color: #3563e9;
  box-shadow: 0 0 0 3px rgba(53, 99, 233, 0.1);
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #3563e9;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  width: 70%;
}

.login-box button:hover {
  background: #244bcc;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
}

.register-text a {
  color: #3563e9;
  font-weight: 600;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}



