.header {
  height: 80px;
  background: #f6f7f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #3563e9;
}

.search-wrapper {
  position: relative;
  width: 400px;
}

.search-wrapper input {
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #e5e7eb;
  padding: 0 20px;
  outline: none;
  font-size: 14px;
  background: white;
}

.search-wrapper input:focus {
  border-color: #3563e9;
}

/* DROPDOWN */
.search-dropdown {
  position: absolute;
  top: 55px;
  width: 100%;
  background: white;
  border-radius: 16px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  max-height: 300px;
  overflow-y: auto;
  z-index: 999;
}

.search-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.search-item:hover {
  background: #f3f4f6;
}

.search-item img {
  width: 60px;
  height: 40px;
  object-fit: contain;
}

.search-info h4 {
  margin: 0;
  font-size: 14px;
}

.search-info p {
  margin: 3px 0 0;
  font-size: 12px;
  color: #9ca3af;
}

/* RIGHT ICONS */
.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.search-wrapper {
  position: relative;
  width: 400px;
}

.search-wrapper input {
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #e5e7eb;
  padding: 0 20px 0 45px; /* chừa chỗ cho icon */
  outline: none;
  font-size: 14px;
  background: white;
}

.search-icon {
  position: absolute;
  left: 18px;
  margin-top: 22px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: #9ca3af;
  
}
