.footer {
  background: #fff;
  padding: 60px 0 20px;
  margin-top: 80px;
}

.footer-container {
  max-width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 80px;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.footer h2 {
    font-size: 32px;
    color: #2563eb;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    
}
