.car-section {
  padding: 10px 0;
  background: #F6F7F9;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color:rgb(90, 90, 89);
  
  
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(4, 350px); 
  gap: 24px;
  justify-content: center; 
  margin-left: 30px;
}
.show-more {
  margin-top: 40px;
  text-align: center;
}


.show-more-btn:hover {
  background: #274BC8;
}
.show-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.show-more-btn {
  background: #3563e9;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-family :Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}


