.car-card {
  width: 304px;
  height: 348px;
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.car-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
}


.car-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.car-card-header h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.car-type {
  font-size: 12px;
  color: #90a3bf;
  margin-top: 4px;
}

.heart {
  font-size: 18px;
  cursor: pointer;
}


.car-image {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.car-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  
}


.car-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #596780;
}

.car-info span {
  display: flex;
  align-items: center;
  gap: 4px;
}


.car-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

.price span {
  font-size: 12px;
  font-weight: 400;
  color: #90a3bf;
}

.rent-btn {
  background: #3563e9;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 150px;
  height: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

.rent-btn:hover {
  background: #2b50c7;
}
